<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login page</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Internship-Dev5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/HomePage/login.css" />
    <link rel="stylesheet" href="../../CSS/HomePage/style.css" />
    <link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div class="container" id="app">
        <div class="overlay" id="nav-overlay">
            <div>
                <div class="top-header">
                    <div class="language">
                        <a href="#"><img src="../../Images/HomePage/jp.jpg" alt="japanese"></a>
                        <a href><img src="../../Images/HomePage/vn.jpg" alt="vietnamese"></a>
                    </div>
                    <div class="contact">
                        <div>
                            <i class="fa fa-phone"></i> <a href="tel:02437556500">Hotline: +84-(0)24-3755-6500</a>
                        </div>
                        <div>
                            <i class="fa fa-envelope-o"></i> <a href="mailto:admin@usol-v.com.vn">Email: admin@usol-v.com.vn</a>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/UsolVietnam/">Facebook: USOL Vietnam</a>
                        </div>
                        <div class="search">
                            <i class="fa fa-search" onclick="handleSearch()"></i>
                            <input id="search" class="txt-search" placeholder="Nhap tu tim kiem...">
                        </div>
                    </div>
                </div>
                <div class="main-header">
                    <div class="logo">
                        <a href="https://www.usol-v.com.vn/">
                            <img src="../../Images/HomePage/logo.jpg" alt="logo">
                            <p>CHALLENGE FOR CHANGE</p>
                        </a>
                    </div>
                    <ul class="tabs-menu">
                        <i class="fa fa-bars" onclick="displayNavMobie()" aria-hidden="true"></i>
                        <li class="item"><a href="#">Home</a></li>
                        <li class="item">
                            <a href="#">Thông tin tài khoản</a>
                        </li>
                        <li class="item">
                            <a href="#">Khai báo</a>
                        </li>
                        <li class="item">
                            <a href="#">Chỉ thị</a>
                        </li>
                        <li id="anh">
                            <a>
                                <img onclick="handleLogin()" src='../../Images/unnamed.jpg' alt="ảnh minh họa">
                                <p id="handle-login">Vui long thuc hien dang nhap!</p>
                            </a>
                        </li>
                        <!-- <i class="fa fa-undo" aria-hidden="true"></i> -->
                        <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
                        <div class="nav__mobie" id="nav-bar-mobie">
                            <a>
                                <img onclick="handleLogin()" src='../../Images/unnamed.jpg' alt="ảnh minh họa">
                                <p id="handle-login">Vui long thuc hien dang nhap!</p>
                                <i onclick="clickNavMobie()" class="fa fa-window-close" aria-hidden="true"></i>
                            </a>
                            <hr>
                            <ul class="nav__mobie-items">
                                <li class="item-link"><a href="#">Home</a></li>
                                <li class="item-link"><a href="#">Thông tin tài khoản</a></li>
                                <li class="item-link"><a href="#">Khai báo</a></li>
                                <li class="item-link"><a href="#">Chỉ thị</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            <!-- <div class="nav_overlay"></div> -->
            <div class="content">
                <div class="login" v-if="isLogin===true">
                    <i class="fa fa-empire"></i>
                    <h2>Login</h2>
                    <div class="group"><input type="text" placeholder="Username" v-model="validateUser"><i class="fa fa-user"></i></div>
                    <div class="group"><input type="password" placeholder="Password" v-model="validatePass"><i class="fa fa-lock"></i></div>
                    <p class="check"><input type="checkbox">Login as Administrator</p>
                    <p class="check"><input type="checkbox">Login as GM, Supervisor</p>
                    <button id="login" v-on:click="validate()"><i class="fa fa-send"></i>Login</button>
                    <p class="fs">Forgot <span v-on:click="forgotPass()">Username or Password?</span></p>
                    <p class="ss">Don't have an account? <a href="#">Signup</a></p>
                </div>
            </div>
            <div class="change-pass" v-if="isLogin===false">
                <i class="fa fa-empire"></i>
                <h2>Change Password</h2>
                <div class="group"><input type="text" placeholder="Enter email or phone number"><i class="fa fa-user"></i></div>
                <div class="group"><input type="password" placeholder="New Password"><i class="fa fa-lock"></i></div>
                <div class="group"><input type="password" placeholder="Enter Password Again"><i class="fa fa-lock"></i></div>
                <button id="get-password"> <i class="fa fa-send"></i>Change Password</button>
            </div>
            <div class="footerr">
                <div class="main-footer">
                    <div class="office">
                        <h2>Head office:</h2>
                        <p>Add: 14th & 20th Floor, Hoa Binh Tower, 106 Hoang Quoc Viet</p>
                        <p>Street, Cau Giay District, Hanoi, Vietnam</p>
                        <p>Tel: +84-(0)24-3755 6500</p>
                        <p>Fax: +84-(0)24-3755 6501</p>
                        <button class="ref btn-home"><a href="../../Pages/HomePage/home.html" ref="val">login</a></button>
                    </div>
                    <div class="branch">
                        <h2>Ho Chi Minh Branch:</h2>
                        <P>Add: Unit 8.9 & 8.10, 8th Floor, Etown 1 Building, 364 Cong Hoa</P>
                        <P>St., Ward 13, Tan Binh Dist., HCMC</P>
                        <P>Tel: +84-28-3810-8274</P>
                        <P>Fax: +84-28-3810-8275</P>
                    </div>
                    <div class="browser-support">
                        <h2>Browser tương thích</h2>
                        <p><img src="../../Images/HomePage/chrome.jpg">Version 12.0.742.53</p>
                        <p><img src="../../Images/HomePage/firefox.jpg">Version 58.0.1 trở lên</p>
                        <p><img src="../../Images/HomePage/explore.jpg">Version 11.0.9600.18617 trở lên</p>
                        <p><img src="../../Images/HomePage/adventures.jpg">Version 5.1.7 trở lên</p>
                    </div>
                </div>
                <div class="bottom-footer">
                    <p>&copy; USOL Vietnam Co.,Ltd. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../Scripts/login.js"></script>
<script src="../../Scripts/scriptCommon.js"></script>

</html>